{{include "public/header.html"}}
<div class="pad_common">
<div class="subnav">
</div>
{{if !$_GET.detail}}
<form method="get" action="" name="searchform">
	<table width="100%" cellspacing="0" class="search-form">
	    <tbody>
			<tr>
			<td>
			<div class="explain-col">
			<input type="text" name="content" class="input-text ufocus" id="content" value="{{$_GET.content}}" def="内容">
			<input type="submit" value="搜索" class="button search" name="search">
		</div>
			</td>
			</tr>
	    </tbody>
	</table>
</form>
<div class="table-list">

<table width="100%" cellspacing="0">
	<thead>
		<tr>
			<th align="left">内容</th>
			<th>接收老师</th>
			<th>接收学生</th>
			<th>发送时间</th>
			<th>状态</th>
			<th></th>
		</tr>
	</thead>
<tbody>
{{foreach $notifies as $key=>$notify}}
    <tr>
		<td align="left" title="{{$notify.content}}">{{$notify.content|truncate:30:"...":true}}</td>
		<td align="center">
		{{if $notify.teacher}}<a class="link" href="javascript:show({{$key}},'teacher');">{{$notify.teacher|truncate:30:"...":true}}</a>{{else}}无{{/if}}
		<div class="send_teacher_{{$key}}" style="display:none;">{{$notify.teacher}}</div>
		</td>
		<td align="center">
		{{if $notify.student}}<a class="link" href="javascript:show({{$key}},'student');">{{$notify.student|truncate:30:"...":true}}</a>{{else}}无{{/if}}
		<div class="send_student_{{$key}}" style="display:none;">{{$notify.student}}</div>
		</td>
		<td align="center">{{$notify.create_time|date_format:'%Y-%m-%d %H:%M:%S'}}</td>
		<td align="center">{{if $notify.status == 1}}已发送{{else if $notify.status == 0}}待发送{{/if}}</td>
		<td align="center"><a href="javascript:showDetail({{$notify.id}})" class="link">[查看详情]</a></td>
    </tr>
{{foreachelse}}
<tr><td colspan=6>暂无通知</td></tr>
{{/foreach}}
</tbody>
</table>
</div>

<script language="JavaScript">
<!--
function show(key,type){
	window.top.art.dialog({
		id:'show',
		content:$(".send_"+type+"_"+key)[0], 
		title:'通知人员', 
		width:'450', 
		height:'300', 
		lock:true
	});
}
function showDetail(notifyId){
	window.top.art.dialog({
		id:'showDetail',
		iframe:'/school/notify/index?detail=1&notifyId='+notifyId, 
		title:'通知详情', 
		width:'580', 
		height:'220',
		lock:true
	});
}
//-->
</script>
{{else}}
<div class="table-list">

<table width="100%" cellspacing="0">
	<thead>
		<tr>
			<th>接收者</th>	
			<th>接收时间</th>
			<th>状态</th>
		</tr>
	</thead>
<tbody>
{{foreach $messages as $key=>$message}}
    <tr class="{{if $message.status == 1}}link{{else}}red{{/if}}">
	
		<td align="center">
		{{if $message.character == "teacher"}}{{teacherName($message.to)}}(老师){{elseif $message.character == "student"}}{{studentName($message.student)}}{{relation($message.to,$message.student)}}{{elseif $message.character == "user"}}{{userName($message.to)}}{{/if}}
		</td>
		<td align="center">{{$message.create_time|date_format:'%Y-%m-%d %H:%M:%S'}}</td>
		<td align="center">{{if $message.status == 1}}已读{{elseif $message.status == 0}}未读{{/if}}</td>
    </tr>
{{/foreach}}
</tbody>
</table>
</div>
{{/if}}
<div id="pages">{{$pages}}</div>
</div>
{{include "public/footer.html"}}