{{include "public/header.html"}}
<script language="javascript">
function dosort(type){
	var sorts = $("#sorts").val();
	if(sorts.indexOf(type) >= 0){
		if(sorts.indexOf('desc') >= 0){
			sorts = type+' asc';
		}else{
			sorts = type+' desc';
		}
	}else{
		sorts = type+' desc';
	}
	$("#sorts").val(sorts);
	$("#searchform").submit();
}
</script>
<div class="pad_common">
<p class="content_tip">注:以下数据为截止至{{date('Y-m-d',strtotime('-1 day'))}}为止的统计结果</p>
<form method="get" action="" name="searchform"  id="searchform">
	<table width="100%" cellspacing="0" class="search-form">
	    <tbody>
			<tr>
			<td>
			<div class="explain-col">
			<input type="text" name="teacherName" class="input-text ufocus" id="teacherName" value="{{$_GET.teacherName}}" def="老师名">
			{{Html::select($schoolCourses,$_GET.course, 'course', 'course','授课内容')}}
			{{Html::date('start_date',$_GET.start_date,'起始日期')}}
			{{Html::date('end_date',$_GET.end_date,'终止日期')}}
			<input type="hidden" name="sorts" class="input-text" id="sorts" value="{{$sorts}}">
			<input type="submit" value="搜索" class="button search" name="search">
			<input type="submit" value="导出" class="button search" name="export">
		</div>
			</td>
			</tr>
	    </tbody>
	</table>
</form>
<div class="table-list">
<table width="100%" cellspacing="0" >
	<thead>
		<tr>
			<th>老师</th>
			<th>授课内容</th>
			<th><a class="link" href="javascript:dosort('event_nums')">课次数</a></th>
			<th><a class="link" href="javascript:dosort('classes')">课时数</a></th>
			<th>点评数</th>
			<th>回复数</th>
		</tr>
	</thead>
<tbody>
{{foreach $teachers as $teacher}}
    <tr>
		<td align="left"><a href="javascript:teacherInfo({{$teacher.teacher}},'{{teacherName($teacher.teacher)}}')" class="link">{{imageUrl($teacher.teacher,1,30)}}&nbsp;{{teacherName($teacher.teacher)}}</a></td>
		<td align="center">{{if $teacher.courseName}}{{$teacher.courseName}}{{else}}--{{/if}}</td>
		<td align="center">{{if $teacher.event_nums}}{{$teacher.event_nums}}{{else}}0{{/if}}</td>
		<td align="center">{{if $teacher.classes}}{{$teacher.classes}}{{else}}0{{/if}}</td>
		<td align="center">{{$teacher.comments}}</td>
		<td align="center">{{$teacher.replies}}</td>
    </tr>
{{foreachelse}}
<tr><td colspan=5>暂无记录</td></tr>
{{/foreach}}
</tbody>
</table>
</div>
<div id="pages">{{$pages}}</div>
</div>
{{include "public/footer.html"}}