{{include "public/header.html"}}
<div class="pad-lr-10">
<div class="table-list">
<form name="myform" action="/school/student/grade?student={{$student}}" method="post" id="myform">
<table width="100%" cellspacing="0">
	<thead>
		<tr>
			<th class="text-l cu-span" style='padding-left:30px;'>
				<span onClick="javascript:$('input[name=grade[]]').attr('checked', true)">全选</span>/<span onClick="javascript:$('input[name=grade[]]').attr('checked', false)">取消</span>
			</th>
		</tr>
	</thead>
</table>
<table width="100%" cellspacing="0">
<tbody>
{{foreach $grades as $grade}}
    <tr>
		<td align="left"><input type="checkbox" {{$grade.checked}} value="{{$grade.id}}" name="grade[]"/>&nbsp;{{$grade.name}}</td>
    </tr>
{{foreachelse}}
<tr><td colspan=1>暂无班级</td></tr>
{{/foreach}}
</tbody>
</table>
<div class="bk15"></div>
    <input name="dosubmit" type="submit" id="dosubmit" value="确定" class="dialog">
</form>
</div>
</div>

{{include "public/footer.html"}}