{{include "public/header.html"}}
<div class="pad_common">
<div class="table-list">
<form name="myform" action="/school/group_teacher/add" method="post" id="myform">
<table width="100%" cellspacing="0">
	<thead>
		<tr>
			<th class="text-l cu-span" style='padding-left:30px;'>
				<span onClick="javascript:$('input[name=teacher[]]').attr('checked', true)">全选</span>/<span onClick="javascript:$('input[name=teacher[]]').attr('checked', false)">取消</span>
			</th>
		</tr>
	</thead>
</table>
<table width="100%" cellspacing="0">
<tbody>
{{foreach $teachers as $teacher}}
    <tr>
		<td align="left"><input type="checkbox" value="{{$teacher.teacher}}" {{if $teacher.in}}checked=checked{{/if}} name="teacher[]"/>&nbsp;{{$teacher.userInfo.firstname}}{{$teacher.userInfo.lastname}}</td>
    </tr>
{{foreachelse}}
<tr><td colspan=1>暂无老师</td></tr>
{{/foreach}}
</tbody>
</table>
<div class="bk15"></div>
	<input type="hidden" name="id" value="{{$id}}"/>
    <input name="dosubmit" type="submit" id="dosubmit" value="确定" class="button" onclick="window.top.art.dialog({id:'manage'}).close();">
</form>
</div>
</div>

{{include "public/footer.html"}}