{{include "public/header_main.html"}}
<link href="{{$path.js}}uploadify/uploadify.css" rel="stylesheet" type="text/css" />
<script src="{{$path.js}}uploadify/jquery.uploadify.min.js" language="javascript" type="text/javascript" ></script>
<script type="text/javascript">
<!--
$(function(){
	$.formValidator.initConfig({autotip:true,formid:"myform",onerror:function(msg){}});
	$("#name").formValidator({onshow:"请填写真实姓名，方便家校互动",onfocus:"请填写真实姓名，方便家校互动"}).inputValidator({min:2,max:10,onerror:"学生姓名长度为2-10个字符"});
	var fls=flashChecker();
	if(!fls.f){
		$(".upfileArea").html("您的浏览器不支持flash,无法上传图片！")
	}else{
		$('#upfile').uploadify({
			'formData'     : {
				'timestamp' : '{{$timestamp}}',
				'token'     : '{{$token}}',
				'app'     : 'upload2',
				'act'     : 'index',
				'type'	  : 'student',
				'uid'  : '{{$uid}}',
				'student'  : '{{$student.id}}'
			},
			
			'fileTypeExts':'*.jpg;*.jpeg;*.png;*.gif',
			'fileSizeLimit':2048,
			'buttonText':'上传',
			'multi':false,
			'swf'      : '{{$path.js}}uploadify/uploadify.swf',
			'uploader' : '{{$path.api}}',
			'onSelectError' : function (file, errorCode, errorMsg) {
			   if (errorCode == SWFUpload.QUEUE_ERROR.FILE_EXCEEDS_SIZE_LIMIT){
			    alert('超过文件上传大小限制（2M）！');
			    return;
			   }
			   alert(errorObj.type + ', Error: ' + errorObj.info);
			},
			'onUploadSuccess' : function(file, data, response) {
	         	var data = jQuery.parseJSON(data);
	         	if(data.state == 1){
	         		var avatar = '{{$path.avatar}}'+data.result.student_avatar;
	         		$("#avaterArea").attr('src',avatar);
	         	}
	         }
		});
	}
});
//-->
</script>
<div id="content" class="contenter">
	<div class="content_center pad_10" style="height:550px;">
		<form name="myform" action="/student/add" method="post" id="myform" enctype="multipart/form-data">
		<table width="100%" class="table_form contentWrap">
			<tr>
			<td width=100 align="right">学生姓名：</td> 
			<td><input type="text" name="name" class="input-text ufocus" id="name" value="{{$student.name}}" size=10 def="姓名"></input></td>
			</tr>
			<tr>
			<td width=100 align="right">性别：</td> 
			<td>
			{{Html::selectGender($student.gender,"gender","gender","未知")}}
			</td>
			</tr>
			<tr>
			<td width=100 align="right">生日：</td> 
			<td>
			{{Html::date('birthday',$student.birthday|date_format:'%Y-%m-%d','',0,0,true,1,true)}}
			</td>
			</tr>
			<tr>
			<td width=100 align="right">本人是学生的：</td> 
			<td>
			{{Html::selectRelation($student.relation,"relation","relation","")}}
			</td>
			</tr>
			<tr>
			<td></td> 
			<td><input name="dosubmit" type="submit" value="提交" class="button state_highlight"></td>
			</tr>
		</table>
		</form>
	</div>
</div>
{{include "public/footer.html"}}