{{include "public/header.html"}}
<script type="text/javascript">
<!--
$(function(){
	$.formValidator.initConfig({autotip:true,formid:"myform",onerror:function(msg){}});
	$("#type").formValidator({onshow:"请选择分类",onfocus:"请选择分类"}).inputValidator({min:1,onerror:"请选择分类"})
	$("#title").formValidator({onshow:"请输入名称",onfocus:"名称长度为2-20个字符"}).inputValidator({min:2,max:20,onerror:"名称长度为2-20个字符"});
});
//-->
</script>
<div class="pad_common">
<div class="common-form">
<form name="myform" action="/school/course/edit" method="post" id="myform">
<table width="100%" class="table_form">
	<tr>
		<td width=50 align="right">分类：</td> 
		<td>{{Html::selectCourseType({{$ptype}},{{$type}},'type','title',$courseInfo.title)}}
		</td>
	</tr>
	<tr>
		<td width=50 align="right"><input type="hidden" name="id" value="{{$courseInfo.id}}"/></td> 
		<td><input name="dosubmit" type="submit" value="确定" class="button state_highlight">
		</td>
	</tr>
</table>
</form>
</div>
</div>
{{include "public/footer.html"}}