<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=7" />
<title></title>
<link href="{{$path.css}}reset.css" rel="stylesheet" type="text/css" />
<link href="{{$path.css}}system.css" rel="stylesheet" type="text/css" />
<link href="{{$path.css}}table_form.css" rel="stylesheet" type="text/css" />
<link href="{{$path.css}}dialog.css" rel="stylesheet" type="text/css" />
<script language="javascript" type="text/javascript" src="{{$path.js}}dialog.js"></script>
<script language="javascript" type="text/javascript" src="{{$path.js}}jquery.min.js"></script>
<script language="javascript" type="text/javascript" src="{{$path.js}}admin_common.js"></script>
<script language="javascript" type="text/javascript" src="{{$path.js}}formvalidator.js" charset="UTF-8"></script>
<script language="javascript" type="text/javascript" src="{{$path.js}}formvalidatorregex.js" charset="UTF-8"></script>
</head>
<body>