<div class="footer">
    <div class="link cut_line">
    	<a href="{{$path.domain}}index/about" >关于呼啦派</a><span>|</span><a href="{{$path.domain}}weibo">官方微博</a><span>|</span><a href="{{$path.domain}}index/job">诚征英才</a><span>|</span><a href="{{$path.domain}}index/connect">联系我们</a>
	</div>
	<div class="copy_right">2012-2013 Hulapai Co.ltd. All Rights Reserved</div>
</div>
<script type="text/javascript"> 
function windowW(){
	if($(window).width()<980){
			$('.header_top').css('width',980+'px');
			$('.header').css('width',980+'px');
			$('#content').css('width',980+'px');
			$('.footer').css('width',980+'px');
	}
}
windowW();
$(window).resize(function(){
	if($(window).width()<980){
		windowW();
	}else{
		$('.header_top').css('width','auto');
		$('.header').css('width','auto');
		$('#content').css('width',980+'px');
		$('.footer').css('width','auto');
	}
});
window.onresize = function(){
	var heights = document.documentElement.clientHeight-155;
	if(heights > 350){
		$(".content_center").css('margin-top',(heights-350)/2+'px');
		$(".content_center").css('margin-bottom',(heights-350)/2+'px');
	}
}
window.onresize();

</script>
</body>
</html>