{{include "public/header.html"}}
<script language="javascript">
function dosort(type){
	var sorts = $("#sorts").val();
	if(sorts.indexOf(type) >= 0){
		if(sorts.indexOf('desc') >= 0){
			sorts = type+' asc';
		}else{
			sorts = type+' desc';
		}
	}else{
		sorts = type+' desc';
	}
	$("#sorts").val(sorts);
	$("#searchform").submit();
}
</script>
<div class="pad_common">
{{if $_GET.act != "list"}}
<p class="content_tip">注:以下数据为截止至{{date('Y-m-d')}}为止的点评</p>
{{/if}}
<form method="get" action="" name="searchform" id="searchform">
	<table width="100%" cellspacing="0" class="search-form">
	    <tbody>
			<tr>
			<td>
			<div class="explain-col">
			<input type="hidden" name="act" value="{{$_GET.act}}">
			<input type="hidden" name="event" value="{{$_GET.event}}">
			{{if $_GET.act == "list"}}
			<input type="text" name="studentName" class="input-text ufocus" id="studentName" value="{{$_GET.studentName}}" def="学生名">
			{{Html::selectCommented($_GET.commented, 'commented', 'commented','点评状态')}}
			{{else}}
			{{Html::selectCommented($_GET.commented, 'commented', 'commented','点评状态')}}
			{{Html::select($schoolCourses,$_GET.course, 'course', 'course','授课内容')}}
			<input type="text" name="text" class="input-text ufocus" id="text" value="{{$_GET.text}}" def="课程名称">
			{{Html::select($teachers,$_GET.teacher, 'teacher', 'teacher','老师')}}
			{{Html::date('start_date',$_GET.start_date,'起始日期')}}
			{{Html::date('end_date',$_GET.end_date,'终止日期')}}
			<input type="hidden" name="sorts" class="input-text" id="sorts" value="{{$sorts}}">
			{{/if}}
			<input type="submit" value="搜索" class="button search" name="search">
		</div>
			</td>
			</tr>
	    </tbody>
	</table>
	<input type="hidden" name="pc_hash" value="bLHaEA">
</form>
<div class="table-list">
{{if $_GET.act == "list"}}
<form name="myform" action="/school/comment/do?act=2" method="post" id="myform">
<table width="100%" cellspacing="0">
	<thead>
		<tr>
			<th align="left"><input type="checkbox" value="" name="checkAll" class="checkAll" rel="id[]"/></th>
			<th align="left">学生名</th>
			<th>点评</th>
		</tr>
	</thead>
<tbody>
{{foreach $data as $_data}}
    <tr>
		<td align="left"><input type="checkbox" value="{{$_data.event}}_{{$_data.student}}" name="id[]"/></td>
		<td align="left">{{imageUrl($_data.student,2,30)}}&nbsp;{{studentName($_data.student)}}</td>
		<td align="center">		
			{{if !$_data.commented}}
			<a href="javascript:comment({{$_data.event}},{{$_data.student}},'{{$_data.remark}}','{{studentName($_data.student)}}')" class="red">[未点评]</a>
			{{else}}
			<a href="javascript:showcomment({{$_data.event}},{{$_data.student}},'{{$_data.remark}}','{{studentName($_data.student)}}')">[已点评]</a>
			{{/if}}
		</td>
    </tr>
{{foreachelse}}
<tr><td colspan=6>暂无点评数据</td></tr>
{{/foreach}}
</tbody>
</table>
 <div class="bk15"></div>
 	<input type="hidden" name="event" value="{{$_GET.event}}">
    <input name="dosubmit" type="submit" value="批量点评" class="button">
</form>
<script language="JavaScript">
<!--
function comment(event,student,courseName,studentName){
	window.top.art.dialog({
		id:'comment',
		iframe:'/school/comment/do?act=1&event='+event+'&student='+student, 
		title:'点评《'+courseName+'》-'+studentName, 
		width:'450', 
		height:'300', 
		lock:true
	});
}
function showcomment(event,student,courseName,studentName){
	window.top.art.dialog({
		id:'showcomment',
		iframe:'/school/comment/info?event='+event+'&student='+student, 
		title:'点评详情《'+courseName+'》-'+studentName, 
		width:'700', 
		height:'500', 
		lock:true
	});
}
//-->
</script>
{{else}}
<table width="100%" cellspacing="0" >
	<thead>
		<tr>
			<th><a class="link" href="javascript:dosort('course')">授课内容</a></th>
			<th><a class="link" href="javascript:dosort('text')">课程名称</a></th>
			<th><a class="link" href="javascript:dosort('start_date')">上课日期</a></th>
			<th><a class="link" href="javascript:dosort('start_date')">上课时间</a></th>
			<th><a class="link" href="javascript:dosort('teacher')">上课老师</a></th>
			<th>操作</th>
		</tr>
	</thead>
<tbody>
{{foreach $events as $event}}
    <tr>
		<td align="center">{{$event.courseName}}</td>
		<td align="center">{{$event.text}}</td>
		<td align="center">{{$event.start_date|date_format:'%Y-%m-%d'}}{{if $event.is_loop}}至{{$event.end_date|date_format:'%Y-%m-%d'}}{{/if}}</td>
		<td align="center">{{$event.start_date|date_format:'%H:%M'}}至{{$event.end_date|date_format:'%H:%M'}}</td>
		<td align="left">
		{{foreach $event.teacher as $teacher}}
		{{imageUrl($teacher,1,30)}}&nbsp;{{teacherName($teacher)}}
		{{/foreach}}
		</td>
		<td align="center">		
			<a href="javascript:list({{$event.id}},'{{$event.courseName}}')">{{if $event.commented}}<span>[已点评]</span>{{else}}<span class="red">[未点评]</span>{{/if}}</a>
		</td>
    </tr>
{{foreachelse}}
<tr><td colspan=6>暂无课程数据</td></tr>
{{/foreach}}
</tbody>
</table>
<script language="JavaScript">
<!--
function list(id,name){
	window.top.art.dialog({
		id:'list',
		iframe:'/school/comment/index?act=list&event='+id, 
		title:name, 
		width:'800', 
		height:'420', 
		lock:true
	});
}
//-->
</script>
{{/if}}
</div>
</div>
<div id="pages">{{$pages}}</div>
{{include "public/footer.html"}}