{{include "public/header.html"}}
<div class="subnav">
	<div class="content-menu ib-a blue line-x"> 
       	<a href="/admin/total_blog/index"><em>呼啦圈</em></a><span>|</span>
        <a class="on" href="javascript:;"><em>每日新增</em></a><span>|</span> 
        <a href="/admin/total_blog/detail"><em>明细</em></a> 
    </div>
</div>
<div class="pad-lr-10">
<form method="get" action="" name="searchform">
	<table width="100%" cellspacing="0" class="search-form">
	    <tbody>
			<tr>
			<td>
			<div class="explain-col">
			开始日期：{{Html::date('start_date',$start_date)}}&nbsp;&nbsp;结束日期：{{Html::date('end_date',$end_date)}}
			来源：{{Html::selectAgent($_GET.from,'from','from','来源')}}
			<input type="submit" value="搜索" class="button search" name="search">
		</div>
			</td>
			</tr>
	    </tbody>
	</table>
	<input type="hidden" name="pc_hash" value="bLHaEA">
</form>
<div class="table-list">

<table width="100%" cellspacing="0">
	<thead>
		<tr>
			<th align="left">呼啦圈动态总数</th>
			<th align="left">日期</th>
			<th align="left">来源</th>
		</tr>
	</thead>
<tbody>
{{foreach $total as $data}}
    <tr>
		<td align="left">{{$data.nums}}</td>
		<td align="left">{{$data.create_date}}</td>
		<td align="left">{{if $data.from == 0}}网站{{elseif $data.from == 1}}手机网页版{{elseif $data.from == 2}}android{{elseif $data.from == 3}}ios{{/if}}</td>
    </tr>
{{/foreach}}
</tbody>
</table>
</div>
</div>
{{include "public/footer.html"}}